
header{
  background-color: rgb(4, 158, 50);
  color: white;
}
h1{
  font-size:80px;
  text-align: center;
}
h2{
  text-align: center;
  font-size: 40px;
  color:red;
}
p{
  margin-left: 270px;
  font-size: 30px;
  color: white;
}
.mgr-10{
  margin-left: 60px;
}
main{
  background-image: url(https://www.at-ml.jp/mng/wpimg/10803941/10803941_topImg.jpg);
  background-size: cover;

}
a{
  color: gold;
}
